*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --white:#FFFFFF;
}
html,body{
    max-width: 100%;
    overflow-x: hidden;
}
.responsive{
    width: 140vw;
    max-width: 400px;
    height: auto;
}
.inner{
    width: 90%;
    margin: 50px auto;
}
body,html{
    font-family: 'Rubik', sans-serif;
    background: linear-gradient(180deg, #121221 0%, #0A4A96 100%);
    background-repeat: no-repeat;
    min-height: 200vh;
    font-weight: 200;
}
.flex{
    display: flex;
    align-items: center;
}
nav{
    background: rgba(0, 0, 0, 0.25);
    padding: 10px 0 10px 20px ;
}
nav .logo{
  
    width: 130px;
    height: 54px;
    
  
}

/* hero section starts here */
.hero-section{
    height: 100vh;
   
  
}
.hero-section .left,.right{
    width: 40%;
    padding:50px;
}
.hero-section .right img{
    width: 100%;
    
}
.hero-section .left{
    width: 60%;
}

.hero-section .content{
    color: var(--white);
    font-size: 4vw;
    width: 80%;
   
}
.hero-img{
    width: 80vw;
}
nav{
    justify-content: space-around;
}
nav a{
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 25px;
}

.login{
    background: linear-gradient(86.25deg, #3180D5 7.06%, #30C29F 87.74%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}

.btns{
    width: 20vw;
height: 19px;
font-weight: 400;
font-size: 1.5vw;
line-height: 19px;
border-radius: 10px;
margin:20px 0 0 20px;
text-align: center;
text-decoration: none;

padding: 0.8rem 2rem;
background-origin:border-box;
background-clip: content-box,border-box;
color: #8EFFE4;
background: #1B1B1B;
/* padding: 12px 22px; */
border-left: 4px solid #3180D5;
border-right: 4px solid #30C29F;
background-image: linear-gradient(90deg, #3180D5, #30C29F), linear-gradient(90deg, #3180D5, #30C29F);
background-size: 100% 5px;
background-position: 0 0, 0 100%;
background-repeat: no-repeat;

}
.instructor-main{
    justify-content: space-around;
    
}
.instructor-card{
    color: #F5F5F5;
    padding: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
min-height: 400px;
    background: linear-gradient(101.16deg, rgba(174, 174, 174, 0.24) 13.92%, rgba(255, 255, 255, 0.036) 84.63%);
box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
backdrop-filter: blur(20px);
border-radius: 10px;
}
.instructor-img img{
    border-radius: 50%;
    object-fit: cover;
}
.fav-icon img{
position: absolute;
top: 5%;
right: 5%;
}
.ins-content{
 
    text-align: center;
}
.instructor-btn a{
    display: inline-block;
  padding: 8px 18px;
    border-radius: 30px;
    text-decoration: none;
 color: #F5F5F5;
    position: absolute;
    top: 35%;
    left: 23%;
    background: linear-gradient(86.25deg, #3180D5 7.06%, #30C29F 87.74%);
}
.or-section{
    width: 18vw;
    position: absolute;
    top: 45vw;

    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FFFFFF;
    
}

.or-element{
    width: 80%;
    background: #FFFFFF;
    height: 1px;
}
.or-heading{
    margin: 0 10px;
    font-weight: 100;
    font-size: 20px;
}
.member{
    position: relative;
    left: 4vw;
    top: 1vw;
}

.box{

    color: #FFFFFF;
min-height: 600px;
    position: relative;
}
.heading{
    margin: 20px 0;
}
.box-content p{
    color: #E6E6E6;
    width: 60%;
}
.icons img{
    width: 20px;
}
.icon-title{
    margin-left: 15px;
}

.faster-text{
  background: -webkit-linear-gradient(#3180D5
  , #30C29F
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.box .box-content{
line-height: 30px;

}

.interview{
   
    display: flex;
    
    width: 90%;
    
    margin: 0 auto;
}
.interview div img{
    width: 100%;
    position: relative;
    right: 10vw;
}
.interview div{
    width: 80%;
    text-align: center;
}
.interview div p{
    width: 100%;
    text-align: center;
}
/* .interview-section{
    flex-direction: row-reverse;
    display: flex;
   
}
.interview-section .left-box{
 
    margin-left: 200px;
} */
.role-section{
    text-align: center;
    color: #FFFFFF;
    
}
.roles{
    justify-content: space-around;
    margin: 50px 0;
}
.role-card{
    background: linear-gradient(101.16deg, rgba(174, 174, 174, 0.24) 13.92%, rgba(255, 255, 255, 0.036) 84.63%);
box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
backdrop-filter: blur(20px);
width: 25vw;
height: auto;
padding: 10px 0;
border-radius: 10px;
justify-content: space-around;
align-items: center;
line-height: 30px;
flex-wrap: wrap;
}
.role-card .role-title{
    color: #E6E6E6;
}
.vector-section{
    justify-content: space-around;
}
.vector-detail{
    width: 25%;
    min-height: 400px;
    padding: 20px 10px; 
    text-align: center;
    flex-wrap: wrap;

    

}


.vector-detail h4{
    text-align: center;
}
.vector-detail img{
    width: 50%;
    
}

.vector-detail p{
    color: #E6E6E6;
    font-weight: 100;
}

.about-detail{
    flex-wrap: wrap;
}
.about-detail div{
    width: 40%;
    font-size: 1rem;
}
.about-detail p{
    width: 80%;
} 
.testimonial{
    text-align: center;
}
.client-review{
    width: 60vw;
    background: linear-gradient(101.16deg, rgba(174, 174, 174, 0.24) 13.92%, rgba(255, 255, 255, 0.036) 84.63%);
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
margin: 100px 0;
    padding: 100px 0;
    border-radius: 10px;
    position: relative;
    
    
}

.inner-testimonial{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.client-detail{
    width: 80%;
    margin: 0 auto;
}

.client-profile{
    position: absolute;
    bottom: -8%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.client-img{
    margin-left: 10px;
}
.buttons img{
    margin: 10px 20px;
}
.blog-cards{
    padding: 10px;
    width: 25%;
    background: linear-gradient(101.16deg, rgba(174, 174, 174, 0.24) 13.92%, rgba(255, 255, 255, 0.036) 84.63%);
box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
backdrop-filter: blur(20px);
;

}
.blog-container {
    justify-content: space-around;
    margin: 50px 0;
}
.blog-buttons{
    text-align: center;
}
.blog-buttons img{
    margin: 0 12px;
}


.contact-card{
    background: linear-gradient(101.16deg, rgba(174, 174, 174, 0.24) 13.92%, rgba(255, 255, 255, 0.036) 84.63%);
backdrop-filter: blur(20px);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 40px;
text-align: center;
min-height: 300px;
width: 50%;



}

.contact{
    justify-content: space-around;
    width: 80vw;
}
.contact-card h1{
    background: linear-gradient(86.25deg, #3180D5 7.06%, #30C29F 87.74%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}

.card-icons img{
margin: 0 10px;
}
.card-img{
    width: 20vw;
}
.contact .right-box{
 
    text-align: center;
}
.contact .right-box p{
    width: 100%;

}

.book{
    background-image: url('./images/web.jpeg');
    background-size: cover;
    min-height: 300px;
    padding: 40px 0;
   
    width: 80%;
    
}
.button button{
    display: inline-block;
padding: 12px 22px;
width: 200px;
outline: none;
font-weight: 300;
border-radius: 8px;
border: none;

}
.button-color{
    background: linear-gradient(86.25deg, #3180D5 7.06%, #30C29F 87.74%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}
.book-detail p{
width: 50%;
display: inline-block;
}

footer{
    background: #131313;
    min-height: 361px;
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF;
    line-height: 30px;
    padding: 0 5vw;
    flex-wrap: wrap;
}
.footer-right{
    line-height: 40px;
}
.footer-right a{
    text-decoration: none;
    color: #FFFFFF;
}
.footer-right img{
    margin: 20px 0;
    width: 50%;
}
.footer 
.roadmap-img{
    width: 80%;
}

/* Rs desgin */



/* For extremely small screen devices (595px and below) */
/* @media(min-width:300px) and (max-width: 700px) {
.flex{
    flex-direction: column;
    flex-wrap: wrap;
}

} */
 
/* Small screen devices (600px and above) */

.roadmap-img{
    width: 80%;
}
/* Medium screen devices (768px and above) */
@media only screen and (max-width: 768px) {
.flex{
    flex-wrap: wrap;
}
.inner{
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}
.left-box,.right-box{
    width: 80%;
}

.vector-detail{
    width: 80%;
    margin: 20px 0;
}
.card-img{
    margin: 20px 0 0 0;
}
.role-card{
    width: 80%;
    margin: 10px 0;
}
.icons span{
    font-size: 0.7rem;
}
.box-content p{
    width: 100%;
}
.member{
    margin: 0;
}
.hero-section .left,.right{
    width: 100%;
 

}
.hero-section .left{
    text-align: center;
    width: 100%;
  
}

.hero-section .content h4{
    width: 100%;
    font-size: 2rem;

}
.feufo-img{
    margin: 40px 0;
}

.client-review{
    width: 80vw;
}

.interview{
    flex-direction: column-reverse;
    width: 100%;
margin-left: 70px;
}



.interview div{
    width: 80%;
    margin: 20px 0;
  
}
.vector-detail img{
    width: 35vw;
}
.btns{
    font-size: 1vw;
}
.member{
    position: relative;
    left: 1vw;
    top: 1vw;
}

.content ,.about-detail ,.hire-section{
  
    width: 80%;
    margin: 0 auto;
}
.about-section{
    margin-bottom: 20px;
}

.about-detail p{
    width: 100%;
    margin: 20px 0;
}
.about-heading{
    margin-left: 80px;
}
.responsive{
    width: 70vw;
}
.footer-right h2{
    margin-top: 20px;
}

.why-section{
    margin: 50px 0;
}
footer div{
    width: 80%;
    padding: 20px 0;

}

}
 
/* Big screen devices (889px and above) */
@media (min-width:768px) and (max-width: 100px) {

    
    .interview{
        flex-direction: column-reverse;
        width: 100%;
    margin-left: 70px;
    }
    
    
    
    .interview div{
        width: 80%;
        margin: 20px 0;
      
    }
}
 
/* Extra big screen devices (1200px and above)
@media only screen and (min-width: 1200px) {

} */


